<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  
  include src/jade/methods.jade
  include src/jade/times.jade
  include src/jade/quantity.jade
  
  button#calculate Computar
  
  script(src="./dist/js/sort.js")
  script(src="./dist/js/script.js")