ul#methods
  li.form-group
    input#method-bubble-1(type="checkbox", name="method", value="bubbleSort1")
    label(for="method-bubble-1") BubbleSort Normal
  li.form-group
    input#method-bubble-2(type="checkbox", name="method", value="bubbleSort2")
    label(for="method-bubble-2") BubbleSort Melhorado
  li.form-group
    input#method-quick-first(type="checkbox", name="method", value="quickSort")
    label(for="method-quick-first") QuickSort
  li.form-group
    input#method-insertion(type="checkbox", name="method", value="insertionSort")
    label(for="method-insertion") InsertionSort
  li.form-group
    input#method-shell(type="checkbox", name="method", value="shellSort")
    label(for="method-shell") ShellSort
  li.form-group
    input#method-selection(type="checkbox", name="method", value="selectionSort")
    label(for="method-selection") SelectionSort
  li.form-group
    input#method-heap(type="checkbox", name="method", value="heapSort")
    label(for="method-heap") HeapSort
  li.form-group
    input#method-merge(type="checkbox", name="method", value="mergeSort")
    label(for="method-merge") MergeSort