.col-sm-4.col-md-3
  .card
    header
      h2 Passo 1
      small.subtext Escolha os métodos
    section
      ul.list#methods
  button.btn#calculate Calcular

.col-sm-4.col-md-3    
  .card
    header
      h2 Passo 2
      small.subtext Escolha a quantidade de vezes
    section
      ul.list#times

.col-sm-4.col-md-3  
  .card
    header
      h2 Passo 3
      small.subtext Escolha a quantidade de elementos
    section
      ul.list#quantities
    
.col-sm-4.col-md-3
  .card
    header
      h2 Passo 4
      small.subtext Escolha a característica dos elementos
    section
      ul.list#charac