ul#times
  li.form-group
    input#times-10(type="radio", name="times", value="10")
    label(for="times-10") 10 vezes
  li.form-group
    input#times-20(type="radio", name="times", value="20")
    label(for="times-20") 20 vezes
  li.form-group
    input#times-30(type="radio", name="times", value="30")
    label(for="times-30") 30 vezes
  li.form-group
    input#times-40(type="radio", name="times", value="40")
    label(for="times-40") 40 vezes